<!DOCTYPE html>
<html>
<head>
    <title>registration</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <form id="registerForm">
        <input type="email" id="emailInput" placeholder="Email">
        <input type="text" id="fullNameInput" placeholder="Your name">
        <input type="password" id="passwordInput" placeholder="Password">
        <button type="submit">Register</button>
    </form>

    <p>Already have account? <a href="/login">Login</a></p>

    <script src="/static/register.js"></script>
</body>
</html>